<li style="min-height: 35px" class='clearfix record video <%= cycle("on", "on-hover") %>' id="<%= dom_id(video) -%>">

  <div class='title'>
    <%= video.title %>
      <span class='files'>(
        <% if video.use_shared %>
          <%= video.embed_source %></span>
        <%else%>
          <%= video.video_files.map{|vf| vf.use_external ? vf.external_url : vf.file_name}.join(' ') %>
        <% end %>
      )</span>
  </div>
  <% unless action_name =~ /insert/   %>
    <span class='actions'>
      <%=	action_icon :preview, refinery.videos_admin_video_path(video, dialog: true), t('.view_live_html'), target: '_blank' %>
      <%=	action_icon :edit,    refinery.edit_videos_admin_video_path(video), t('.edit') %>
      <%= action_icon :delete,  refinery.videos_admin_video_path(video), t('.delete'), class: 'confirm-delete', id: "delete_#{video.id}",
                                 data: { confirm: t('message', scope: 'refinery.admin.delete', title: video.title)} %>

    </span>
  <% end %>
</li>
